/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

/* UTILITY */

/* .debug * {
    min-height: 100px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    border: 2px dashed red;
} */

.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.dashed {
    border: 3px dashed black;

}

/* HEADER */

.header-section {
    background-color: #add8e7;
    padding-bottom: 5px;
}

.main-header {
    display: flex;
    justify-content: center;
}

.main-header > * {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #daa51e;
}

.main-header > a {
    flex-grow: 2;
}

.main-header > div {
    flex-grow: 1;
}

.header-logo {
    justify-content: flex-start;
}

.header-login {
    justify-content: flex-end;
}

.main-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    max-width: 100%;
}

#header-img {
    background-color: #ef82ed;
    margin: 50px;
    width: 1100px;
    height: 400px;
}
/* FINE HEADER */

/* INIZIO FOOTER */
.main-footer {
    background-color: #23272a;
}

.footer-info {
    display: flex;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 3px solid #d3d3d3;
}

.main-footer-info {
    background-color: #f08180;
    height: 700px;
    flex: 0 0 25%;
}

.other-footer-info {
    background-color: #20b3aa;
    height: 700px;
    flex: 0 0 75%;
    display: flex;
}

.other-footer-info > div {
    border-color: white;
    width: 25%;
}

.end-section {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;
}

.end-section > * {
    font-size: 32px;
    background-color: lightpink;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px 5px 10px;
}
/* FINE FOOTER */

